[Unit]
Description=Listen to the politics profile
After=syslog.target

[Service]
Type=simple
User=fathom
Group=fathom
WorkingDirectory=/app/grabtweet
ExecStart=/usr/bin/python3 /app/grabtweet/grab.py politics
Restart=always
StandardOutput=null
StandardError=syslog

[Install]
WantedBy=multi-user.target
