[Unit]
Description=Listen to the automotive profile on Twitter
After=syslog.target

[Service]
Type=simple
User=fathom
Group=fathom
WorkingDirectory=/app/grabtweet
ExecStart=/app/grabtweet/grab.py automotive
Restart=always
StandardOutput=null
StandardError=syslog

[Install]
WantedBy=multi-user.target
